 .u-section-1 {
  min-height: 568px;
}

.u-section-1 .u-group-1 {
  min-height: 568px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 87px 209px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 664px;
  height: 359px;
  filter: brightness(0.65);
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -337px 0 0 1073px;
}

.u-section-1 .u-image-2 {
  width: 330px;
  height: 186px;
  margin: 31px 263px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 873px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 660px;
    height: 357px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -335px;
    margin-left: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 145px;
    margin-right: 165px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 281px;
    margin-top: -49px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -259px;
    margin-left: 513px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 102px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 173px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -151px;
    margin-left: 313px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 180px;
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 106px;
}

.u-section-2 .u-group-1 {
  min-height: 106px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  min-height: 600px;
}

.u-section-3 .u-group-1 {
  min-height: 600px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 479px;
  height: 479px;
  margin: 61px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 479px;
  height: 478px;
  margin: -479px 0 0 auto;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: -478px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1198931.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 124px auto 0;
}

.u-section-3 .u-text-2 {
  width: 409px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/159471963429_shadow_warrior_3_1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 61px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 28px auto 0;
}

.u-section-3 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/159471844466_phantom_doc_2_1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 128px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  width: 409px;
  margin: 61px auto 0;
}

.u-section-3 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/20229249555170_1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 128px auto 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  width: 409px;
  margin: 61px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    min-height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 339px;
    margin-top: -340px;
  }

  .u-section-3 .u-slider-1 {
    width: 340px;
    margin-top: -339px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
  }

  .u-section-3 .u-text-6 {
    width: 340px;
  }

  .u-section-3 .u-text-8 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 149px;
}

.u-section-4 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 149px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 19px;
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  min-height: 442px;
}

.u-section-5 .u-group-1 {
  min-height: 442px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 40px auto 0 40px;
}

.u-section-5 .u-image-1 {
  width: 524px;
  height: 267px;
  margin: 40px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: -239px 40px 0 664px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 520px;
    height: 265px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 320px;
    height: 163px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
} .u-section-6 {
  min-height: 462px;
}

.u-section-6 .u-group-1 {
  min-height: 462px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 61px auto 0 40px;
}

.u-section-6 .u-image-1 {
  width: 524px;
  height: 295px;
  margin: 40px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: -239px 40px 0 664px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 520px;
    height: 292px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }
} .u-section-7 {
  min-height: 462px;
}

.u-section-7 .u-group-1 {
  min-height: 476px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 61px auto 0 40px;
}

.u-section-7 .u-image-1 {
  width: 524px;
  height: 295px;
  margin: 40px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: -273px 40px 0 664px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    width: 520px;
    height: 292px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -239px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }
} .u-section-8 {
  min-height: 462px;
}

.u-section-8 .u-group-1 {
  min-height: 476px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 61px auto 0 40px;
}

.u-section-8 .u-image-1 {
  width: 524px;
  height: 295px;
  margin: 40px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: -242px 40px 0 664px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 520px;
    height: 292px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -239px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }
} .u-section-9 {
  min-height: 462px;
}

.u-section-9 .u-group-1 {
  min-height: 476px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 61px auto 0 40px;
}

.u-section-9 .u-image-1 {
  width: 524px;
  height: 295px;
  margin: 40px auto 0 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  margin: -242px 40px 0 664px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    width: 520px;
    height: 292px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -239px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }
} .u-section-10 {
  min-height: 462px;
}

.u-section-10 .u-group-1 {
  min-height: 476px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 61px auto 0 40px;
}

.u-section-10 .u-image-1 {
  width: 524px;
  height: 295px;
  margin: 40px auto 0 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: -263px 40px 0 664px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    width: 520px;
    height: 292px;
  }

  .u-section-10 .u-text-2 {
    margin-top: -260px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-10 .u-text-2 {
    margin-top: -239px;
    margin-left: 0;
  }
} .u-section-11 {
  min-height: 462px;
}

.u-section-11 .u-group-1 {
  min-height: 476px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 61px auto 0 40px;
}

.u-section-11 .u-image-1 {
  width: 524px;
  height: 295px;
  margin: 40px auto 0 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: -273px 40px 0 664px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-group-1 {
    height: auto;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-2 {
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-1 {
    width: 520px;
    height: 292px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -270px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -239px;
    margin-left: 0;
  }
}