 .u-section-1 {
  min-height: 580px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 2px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/152018030887_cover.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 62px 37px 0;
}

.u-section-1 .u-text-2 {
  width: 409px;
  margin: 21px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/HandyAmazingIntermediateegret-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 17px 0;
}

.u-section-1 .u-image-3 {
  width: 243px;
  height: 136px;
  margin: 19px 386px 0 9px;
}

.u-section-1 .u-image-4 {
  width: 243px;
  height: 136px;
  margin: -136px 9px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  width: 51px;
  margin: -90px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/HandyAmazingIntermediateegret-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-1 .u-text-6 {
  margin: 9px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 11px 17px 0;
}

.u-section-1 .u-image-6 {
  width: 243px;
  height: 136px;
  margin: 19px 386px 0 9px;
}

.u-section-1 .u-image-7 {
  width: 243px;
  height: 136px;
  margin: -136px 9px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  width: 51px;
  margin: -90px auto 0;
}

.u-section-1 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/HandyAmazingIntermediateegret-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-1 .u-text-9 {
  margin: 9px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 11px 17px 0;
}

.u-section-1 .u-image-9 {
  width: 243px;
  height: 136px;
  margin: 19px 386px 0 9px;
}

.u-section-1 .u-image-10 {
  width: 243px;
  height: 136px;
  margin: -136px 9px 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 2.25rem;
  width: 51px;
  margin: -90px auto 0;
}

.u-section-1 .u-image-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/HandyAmazingIntermediateegret-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-1 .u-text-12 {
  margin: 9px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 11px 17px 0;
}

.u-section-1 .u-image-12 {
  width: 243px;
  height: 136px;
  margin: 19px 386px 0 9px;
}

.u-section-1 .u-image-13 {
  width: 243px;
  height: 136px;
  margin: -136px 9px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 2.25rem;
  width: 51px;
  margin: -90px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: -58px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-1 .u-container-layout-7 {
  padding: 13px 7px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-image-14 {
  height: 121px;
  transition-duration: 0.5s;
  margin: 19px 21px 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: -99px auto 0 40px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 0 auto 0 40px;
}

.u-section-1 .u-image-15 {
  height: 121px;
  object-position: 50% 20.84%;
  transition-duration: 0.5s;
  margin: 57px 21px 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -102px 239px 0 40px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: -1px auto 0 40px;
}

.u-section-1 .u-image-16 {
  height: 121px;
  object-position: 50% 11.99%;
  transition-duration: 0.5s;
  margin: 61px 21px 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: -104px auto 0 40px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 0 auto 0 40px;
}

.u-section-1 .u-image-17 {
  height: 119px;
  margin-top: 62px;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: -100px 191px 0 17px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: -1px 191px 0 17px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 479px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-1 .u-slider-1 {
    width: 598px;
  }

  .u-section-1 .u-text-4 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 137px;
  }

  .u-section-1 .u-image-4 {
    height: 137px;
    margin-top: -137px;
  }

  .u-section-1 .u-text-7 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 137px;
  }

  .u-section-1 .u-image-7 {
    height: 137px;
    margin-top: -137px;
  }

  .u-section-1 .u-text-10 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    height: 137px;
  }

  .u-section-1 .u-image-10 {
    height: 137px;
    margin-top: -137px;
  }

  .u-section-1 .u-text-13 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-12 {
    height: 137px;
  }

  .u-section-1 .u-image-13 {
    height: 137px;
    margin-top: -137px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 78px;
  }

  .u-section-1 .u-image-14 {
    height: 76px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-16 {
    margin-top: -189px;
  }

  .u-section-1 .u-image-15 {
    height: 76px;
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-top: -147px;
    margin-right: 209px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 19px;
  }

  .u-section-1 .u-image-16 {
    height: 76px;
    margin-top: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-20 {
    margin-top: -102px;
  }

  .u-section-1 .u-image-17 {
    height: 97px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -51px;
    margin-right: 148px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 148px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 367px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-1 .u-slider-1 {
    width: 444px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 45px;
  }

  .u-section-1 .u-image-14 {
    height: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-16 {
    margin-top: -233px;
  }

  .u-section-1 .u-image-15 {
    height: 54px;
    margin-top: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-top: -169px;
    margin-right: 153px;
  }

  .u-section-1 .u-image-16 {
    height: 54px;
    margin-top: 76px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 73px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -29px;
    margin-right: 82px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 82px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 393px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 368px;
  }

  .u-section-1 .u-image-17 {
    height: 190px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 248px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-1 .u-slider-1 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-7 {
    width: 320px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-10 {
    width: 320px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-13 {
    width: 320px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-image-17 {
    height: 118px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }
}

.u-section-1 .u-image-17,
.u-section-1 .u-image-17:before,
.u-section-1 .u-image-17 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-17.u-image-17.u-image-17:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-17 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-17.u-image-17.u-image-17.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-17 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-16,
.u-section-1 .u-image-16:before,
.u-section-1 .u-image-16 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-16.u-image-16.u-image-16:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-16 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-16.u-image-16.u-image-16.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-16 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-15,
.u-section-1 .u-image-15:before,
.u-section-1 .u-image-15 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-15.u-image-15.u-image-15:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-15 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-15.u-image-15.u-image-15.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-15 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-14,
.u-section-1 .u-image-14:before,
.u-section-1 .u-image-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-14.u-image-14.u-image-14:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-14 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-14.u-image-14.u-image-14.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-14 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
} .u-section-2 {
  min-height: 600px;
}

.u-section-2 .u-group-1 {
  min-height: 600px;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-2 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/158229042917_simulator.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 67px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/HandyAmazingIntermediateegret-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/HandyAmazingIntermediateegret-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/HandyAmazingIntermediateegret-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/HandyAmazingIntermediateegret-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/HandyAmazingIntermediateegret-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 60px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: auto;
  }

  .u-section-2 .u-text-2 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 660px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-slider-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    width: 320px;
  }

  .u-section-2 .u-text-2 {
    width: 320px;
  }

  .u-section-2 .u-text-4 {
    width: 320px;
  }

  .u-section-2 .u-text-6 {
    width: 320px;
  }

  .u-section-2 .u-text-8 {
    width: 320px;
  }

  .u-section-2 .u-text-10 {
    width: 320px;
  }

  .u-section-2 .u-text-12 {
    width: 320px;
  }
} .u-section-3 {
  min-height: 600px;
}

.u-section-3 .u-group-1 {
  min-height: 600px;
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/149173893537_prey_preview_0.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 50px 60px 0;
}

.u-section-3 .u-text-2 {
  margin: 70px 20px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 70px auto 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/BOpr.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/BOpr.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/BOpr.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/BOpr.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/BOpr.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 60px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/BOpr.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 60px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    min-height: auto;
  }

  .u-section-3 .u-text-2 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: 409px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-slider-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-text-3 {
    width: 320px;
  }

  .u-section-3 .u-text-4 {
    width: 320px;
  }

  .u-section-3 .u-text-5 {
    width: 320px;
  }

  .u-section-3 .u-text-6 {
    width: 320px;
  }

  .u-section-3 .u-text-7 {
    width: 320px;
  }

  .u-section-3 .u-text-8 {
    width: 320px;
  }
}